  
    <div class="py-5 text-center">
                <h2>MURO</h2>
    
    
        <div class="boxPost" data-ng-repeat="post in $ctrl.posts track by post.id" style='display: inline-block; vertical-align: top;'>
        
            <div class="imgBx">
                <img data-ng-attr-src="{{post.path_imagen}}" alt="{{img.descripcion}}">
                <div class="postCarta">
                    <h2>{{post.titulo}}<br><span>{{post.texto}}</span></h2>
                </div>
            </div>
            <div class="textoImagen">
                <div class="subImagen">
                    <p>{{post.descripcion}}</p>
                </div>
                
                <div class="subCarta">
                    <h2 data-ng-click="$ctrl.redirigirAPostAmigo(post.id_usuario_amigo)">{{post.nombre}}<br></h2>
                    <div data-ng-if="post.id_usuario_amigo==$ctrl.quienSoy" >
                        
                        <a class="EdicionFotoBtn" role="button" class="details-link" title="Borrar" data-ng-click="$ctrl.borrarPost(post.id)" >
                          <i class="bx bx-trash"></i>
                        </a>
                    <div>
                </div>

            </div>
        </div>
    </div>
    </div>
